<main>
  <section class="student-info">    
    <div>
      <div>
        <img src="assets/imagens/4.jpeg">
      </div>

      <div>
        <p>Aluno: {{deposition.author}}</p>
      </div>

    </div>
  </section>
      
  <section>
    <div>
      <h5>Depoimento</h5>
        <iframe 
          width="560"
          height="315"
          src="https://www.youtube.com/embed/myM4kuB3ke8"
          frameborder="0"
          allow="accelerometer;
          autoplay;
          encrypted-media;
          gyroscope;
          picture-in-picture"
          allowfullscreen>
        </iframe>
    </div>
  </section>
        
        <div>
          <h5>Fotos</h5>
        </div>

  </main>