<main>
  <div class="wrapper">
    <section class="student-info">    
      <div>
        <div class="student-info__photo">
          <img src="assets/imagens/4.jpeg">
        </div>
      
        <div>
          <h2>
            <strong class="student-info__namem">
              {{deposition.author}}
            </strong>
          </h2>
          <strong>Curso: Meio ambiente</strong>
        </div>
      
      </div>
    </section>
        
    <section class="student-deposition">
      <div>
         <!-- Adicionar src dinamicamente--> 
        <iframe 
          class="student-deposition__video"
          src="https://www.youtube.com/embed/myM4kuB3ke8"
          frameborder="0"
          allow="accelerometer;
          encrypted-media;
          gyroscope;"
          allowfullscreen>
        </iframe>
      </div>
    </section>
  </div>
</main>