<main>
  <div class="wrapper">
    <section class="student-info">    
      <div>
        <div class="student-info__photo">
          <img [src]=deposition.urlImg>
        </div>
      
        <div>
          <h2>
            <strong class="student-info__name">
              {{deposition.author}}
            </strong>
          </h2>
          <strong>Curso: {{deposition.course}}</strong>
        </div>
      
      </div>
    </section>
        
    <section class="student-deposition">
      <div>
         <!-- Adicionar src dinamicamente--> 
        <iframe 
          class="student-deposition__video"
          [src]='transform(deposition.url)'
          frameborder="0"
          allow="accelerometer;
          encrypted-media;
          gyroscope;"
          allowfullscreen>
        </iframe>
      </div>
    </section>
  </div>
</main>