<!--
  <div class='container'>
  <div class="slider">
    <ul class='slides'>
        <li *ngFor="let item of myDepositions">
          <div class='card emi-card' >
            <div class='card-image'><img src='assets/imagens/avatar.jpg'></div>
            <div class='card-content'>
              <p>Autor(a): <strong>{{item.nameStudent}}</strong></p>
            </div>
            <div class='card-action'>
              <button class='button' [routerLink]="['/records/mural-tre/', item.idDialog]">Ler</button>
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>
-->
<h5>Não implementado</h5>
<div class="section">
    <h5>Fotos</h5>
    <br>
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/imagens/avatar.jpg"> <!-- random image -->
        </li>
        <li>
          <img src='assets/imagens/avatar.jpg'>
        </li>
      </ul>
    </div>
  </div>
