.red {padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;}

.container {margin-bottom: 10px; margin-top: 10px;}

.blue-grey {padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;}
