.header{
    background-color: #FFF;
    width: 100%;
    display: block;
    z-index: 1;
    position: absolute;
    clear: both;
    height: 7.8vh;
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    cursor: pointer;
    border: solid 1px #586165;
    border-radius: 5px;
    background-color: transparent;
    width: 4em;
}

.icon {
    font-size: 1em;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    float: left;
}

.logo-image{

}

.header__nav{
    clear: left;
    margin: 0;
    overflow: hidden;
    display: none;
}

.opened {
    display: block;
}

.header__nav ul{
    margin: 0;
    padding: 0;
    
}

.header__nav li{
    list-style-type: none;
    background: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    transition: .6s ease;
}

.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
}

.header__nav a:hover{
    color: #63c6ae;
}

@media screen and (min-width: 1024px){
    .header{
        position: fixed;
        display: flex;
        box-sizing: border-box;
        clear: none;
        justify-content: space-around;
        height: 8vh;
    }

    .logo-text{
        width: 15%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-button {
        display: none;
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .header__nav{
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__nav ul{
        display: flex;
        align-content: space-around;     
    }

    .header__nav li{
        flex-grow: 1;
        border-bottom: none;
        background-color: white;
        margin-left: 2em;
    }

    .header__nav a{
        background-color: white;
    }
}

@media screen and (min-width: 1280px) {
    .header{
        justify-content: space-between;
    }
}