<header class="header">
  <div class="wrapper">
    <a href="" class="logo-text">EMI</a>
    <button class="menu-button" (click)='showMenuMobile()'>
      <i class="fas fa-bars menu-button__icon"></i>
    </button>
  </div>
    <nav class="header__nav" [ngClass]="{'opened' : menuTypeMobile}">
    <ul>
      <li><a [routerLink]="['']"><b>Início</b></a></li>
      <li><a [routerLink]="['breve-historico']"><b>IFPI</b></a></li>
      <li><a [routerLink]="['records/depositions-in-videos']"><b>Depoimentos</b></a></li>
      <li><a [routerLink]="['records/mural-outhers']"><b>Dicas</b></a></li>
      <li><a [routerLink]="['records/interviews']"><b>Entrevistas</b></a></li>
      <li><a [routerLink]="['records/mural-one']"><b>Mural</b></a></li>
      <li><a [routerLink]="['games/true-or-false']"><b>Mito ou Verdade</b></a></li>
      <li><a [routerLink]="['games/quiz']"><b>Quiz</b></a></li>
    </ul>
  </nav>
</header>

