<header class="header">
  <div class="header__bar-container">
    <a href="" class="logo-text">EMI</a>
    <img src="assets/imagens/logo_ifpi.png" alt="Instituto Federal do Piauí" class="logo-image">
  </div>
  <nav class="header__nav">
    <ul>
      <li><a [routerLink]="['']"><b>Início</b></a></li>
      <li><a [routerLink]="['records/depositions-in-videos']"><b>Depoimentos - Vídeos</b></a></li>
      <li><a [routerLink]="['records/mural-outhers']"><b>De 4º para 1º Ano</b></a></li>
      <li><a [routerLink]="['records/mural-one']"><b>Mural de recados</b></a></li>
      <li><a [routerLink]="['games/true-or-false']"><b>Mito ou Verdade</b></a></li>
      <li><a [routerLink]="['games/quiz']"><b>Quiz</b></a></li>
    </ul>
  </nav>
</header>

