<footer class="footer">
  <div class="footer-container">
  <h2 class="footer__title">{{title}}</h2>
  <p class="footer__paragraph">Desenvolvido por: {{developmentTeam}}</p>
  <h2 class="">Siga-nos</h2>
  <ul class="footer__links">
    <li><a target="_blank" [href]='facebook' class="waves-effect waves-light btn-floating social facebook emi-color-facebook">
        Facebook 
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" [href]='instagram' class="waves-effect waves-light btn-floating social instagram emi-color-instagram">
        Instagram
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a target="_blank" [href]='twitter' class="waves-effect waves-light btn-floating social twitter emi-color-twitter">
        Twitter
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
  </ul>
</div>
  <div class="footer__copy">
      <p>{{copyright}}</p>
  </div>
</footer>
