<footer class="page-footer green darken-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{title}}</h5>
        <p class="grey-text text-lighten-4">Desenvolvido por: {{developmentTeam}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Siga-nos</h5>
          <a target="_blank" [href]='facebook' class="waves-effect waves-light btn-floating social facebook emi-color-facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a target="_blank" [href]='instagram' class="waves-effect waves-light btn-floating social instagram emi-color-instagram">
            <i class="fa fa-instagram"></i>
          </a>
          <a target="_blank" [href]='twitter' class="waves-effect waves-light btn-floating social twitter emi-color-twitter">
            <i class="fa fa-twitter"></i>
          </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright emi-copyright">
    <div class="container">
      <p>{{copyright}}</p>
    </div>
  </div>
</footer>
