.logo-game{
    width: 100%;
    
    z-index: -1;
    position: relative;
}

.wrapper{
    margin-top: 80px;
    width: 20%;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 40px;

   
    grid-gap: 5px;
    display: grid;

    

    grid-template-columns: repeat(3, minmax(80px, 100px));
    grid-template-rows: repeat(4, minmax(80px, 100px));
    grid-template-areas: 
    "zero one two"
    "three four   ."
    "five   six  seven"
    "eight   nine       ."
}

.circle{
    /* display: flex !important; */
    /* display: block !important; */
    border-radius: 50%;
    background-color:#DDDCDC;
    grid-area: zero;
}

.square{
    /* display: flex !important; 
    display: block !important; */
    border-radius: 10%;
    background-color:#DDDCDC;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.my-barra {
    background-color: rgb( 99, 198, 174);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

/*
.my-click {
    display: block !important;
}

my-div {width: 100%;
    
    z-index: -1;
    position: relative;}

my-btns{
    margin-top: 80px;
    width: 20%;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    background-color:#DDDCDC;
}
*/