<div class="jumbotron">
    <div class="content">
        <div class="user-info">
            <img [src]="interview.urlImg" alt="Foto do aluno">
            <h2>{{interview.studentName}}</h2>
            <h2>Curso: {{interview.courseName}}</h2>
        </div>

        <div>
            <div class='my-div-question'>
                <strong><p class='interview-margin'>1º) {{questionOne}}</p></strong>
            </div>
            <p>{{interview.questions[0]}}</p>

            <div class='my-div-question'>
                <strong><p class='interview-margin'>2º) {{questionTwo}}</p></strong>
            </div>
            <p>{{interview.questions[1]}}</p>

            <div class='my-div-question'>
                <strong><p class='interview-margin'>3º) {{questionTre}}</p></strong>
            </div>
            <p>{{interview.questions[2]}}</p>

            <div class='my-div-question'>
                <strong><p class='interview-margin'>4º) {{questionFor}}</p></strong>
            </div>
            <p>{{interview.questions[3]}}</p>
        </div>
    </div>
</div>