.jumbotron { 
    padding: 30px;
    background-color: #111;
  }
  
  .my-container {
    width: 1170px;
    margin: 0 auto;  
    padding: 0 15px; /* adicionar algum preenchimento à esquerda e à direita */
  }
  
  .jumbotron .container { 
    max-width: 100%; /* Possibilitando o ajuste do jumbotron em diferentes telas */
    background-color: #222;
    padding-bottom: 10px;
  }
  
  .jumbotron h1 { 
    text-align: center; /* centralizar o título cabeçalho */
    color: #DDD;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .my-div-question {
    background-color: #63c6ae;
    padding: 10px;
    color: #222;
  }