.jumbotron { 
    padding: 30px; /* fills out the jumbotron */
    background-color: #111;
  }
  
  .container {
    width: 1170px; /* specify a width */
    margin: 0 auto;  /* centers the container */
    padding: 0 15px; /* adds some padding to the left and right*/
  }
  
  .jumbotron .container { 
    max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
    background-color: #222;
    padding-bottom: 10px;
  }
  
  .jumbotron h1 { 
    text-align: center; /* centers the heading */
    color: #DDD;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .my-div-question {
    background-color: #63c6ae;
    padding: 10px;
    color: #222;
  }