<div class='my-div-question'>
  <h4>Entrevista</h4>
</div>

<div class="jumbotron">
    <div class="container" style='color: white'>
      <img [src]="interview.urlImg" alt="Foto do aluno">
      <h5>{{interview.studentName}}</h5>
      <h5>Curso: {{interview.courseName}}</h5>
      <div class='my-div-question'><p>01º) {{questionOne}}</p></div>
      <p>{{interview.questions[0]}}</p>
      <hr>
      <div class='my-div-question'><p>02º) {{questionTwo}}</p></div>
      <p>{{interview.questions[1]}}</p>
      <hr>
      <div class='my-div-question'><p>03º) {{questionTre}}</p></div>
      <p>{{interview.questions[2]}}</p>
      <hr>
      <div class='my-div-question'><p>04º) {{questionFor}}</p></div>
      <p>{{interview.questions[3]}}</p>
      <hr>
    </div>
  </div>