.wrapper{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

.quote-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    background-color: whitesmoke;
    border-radius: 1em;
    overflow: hidden;
    border: 2px solid transparent;    
}

.student-photo{
    align-self: center;
    margin: 10px auto auto 10px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.deposition__paragraph{
    font-size: 16px;
    color: #586165;
    font-weight: 400;
    letter-spacing: 2px;
}

.deposition__name{
    font-size: 12px;
    color: #586165;
    margin-left: 1em;
}

.deposition__course{
    font-size: 12px;
    color: #586165;
    margin: auto auto 1em 1em;
}

@media screen and (min-width: 720px) {
    .quote-container {
        width: 80%;
        align-self: center;
        flex-direction: row;
    }

    .deposition__wrapper{
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}