<div *ngFor='let item of mural' class="mt-5">
  <div class="wrapper">
    <div class="quote-container">
      <img [src]='item.iconPerfil' alt="" class="student-photo">
      <blockquote class="m-1 deposition">
        <p class="deposition__paragraph">
          {{item.deposition}}
        </p>
      </blockquote>

      <cite>
        <span class="deposition__name">
          {{item.student}}
        </span>
      </cite>

      <span class="deposition__course">
        Curso: {{item.courseName}}
      </span>
    </div>
  </div>
</div>