.light-green {padding: 3px;}

.container { margin-top: 10px; margin-bottom: 10px; padding-top: 2px}

.emi-tam {width: 14rem; height: 5rem;}

.red {padding-left: 5px; padding-right: 5px; padding-bottom: 10px; padding-top: 10px;}
