<p>
  entrevista works!
</p>
<div class='card-container'>
  <ul>
    <li class="card" *ngFor="let item of interviews">
      <img [src]="item.urlImg" alt="Avatar">
      <div>
        <h4><b>Aluno: {{item.studentName}}</b></h4> 
        <p>Curso: {{item.courseName}}</p>
        <p><strong>{{questionOne}}</strong></p>
        <p>{{item.questions[0]}}</p>
        <p><strong>{{questionTwo}}</strong></p>
        <p>{{item.questions[1]}}</p>
        <p><strong>{{questionTre}}</strong></p>
        <p>{{item.questions[2]}}</p>
        <p><strong>{{questionFor}}</strong></p>
        <p>{{item.questions[3]}}</p>
      </div>
    </li>
  </ul>
</div>