<div class="row">
  <div class="row red darken-4 white-text center">
    <h5>Do 4º para o 1º ano</h5>
  </div>
  <div class="col s4 m4 l3 emi-card-img" *ngFor="let item of depositions">
      <div class="card blue-grey lighten-4">
          <div class="card-content">
             <p class='center'><strong class='green-text text-darken-4'>{{item.nameStudent}}</strong></p>
             <p><strong>1) {{questionOne}}</strong></p>
             <p><strong>2) {{questionTwo}}</strong></p>
          </div>
          <div class='card-action'>
            <a class="btn-floating btn-large waves-effect waves-light green" [routerLink]="['/records/mural-two/', item.idDeposition]">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
  </div>
</div>

