.my-barra {
    background-color: rgb( 99, 198, 174);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.my-div {background-color: rgb(33, 119, 199); padding: 10px; margin: 10px;}