<div class='mt-3 mb-3'>
    <div *ngFor="let item of depositions">
        <div class='my-barra'>
            <h2>De veteranos para novatos</h2>
        </div>
        <div class="my-div my-border my-grid-container">
            <div>
                <img [src]="item.urlImg" style='align-content: center'>
            </div>
            <div>
                <p>Aluno(a):</p>
                <p class='my-border-coponent-dicas'><strong>{{item.nameStudent}}</strong></p>
                <div class='my-border-coponent-dicas'>
                    <p><strong>1º) {{questionOne}}</strong></p>
                    <p><strong>2º) {{questionTwo}}</strong></p>
                </div>
                <button [routerLink]="['/records/mural-two/', item.idDeposition]" class='my-button btn btn-primary' style='float: right;'>
              Visualizar
            </button>
            </div>
        </div>
    </div>
</div>