<section class="hero">
  <div class="container">
  <article class="article-intro">
    <h1>Olá, é novo por aqui?</h1>
    <h2>Seja bem-vindo(a)!</h2>
    <h3>Parabéns, você agora é aluno(a) do Instituto Federal de Educação, Ciência e
    Tecnologia! Isto representa um grande diferencial na sua vida.</h3>
    <p class="hero__paragraph">Acreditamos que estejam felizes, ansiosos ou até mesmo receosos. São tantas
        mudanças, não é ? Afinal, você está iniciando o ensino médio e optou por
        algum dos cursos técnicos integrados  no Instituto Federal, talvez uma
        escola  bem maior e diferente da que cursou o ensino Fundamental.</p>
  </article>
  <div>
    <img src="../../../assets/imagens/intro.png" alt=""  class="img-intro">
  </div>
</div>
</section>

<section class="section-2">
  <div class="container">
    <div>
      <img src="../../../assets/imagens/section2.png" alt="" class="section-2__img">
    </div>
    <article class="section-2__article">
    <h1 class="section-2__title">E agora?</h1>
    <h3 class="section-2__subtitle">Muitas dúvidas devem estar surgindo... por exemplo:</h3>
    <p class="section-2__paragraph">Será que vou gostar do curso técnico integrado?</p>
    <p class="section-2__paragraph">Deve ser muito difícil...Ah não! Tenho que passar o dia inteiro na escola!</p>
    <p class="section-2__paragraph">Será que fiz a escolha certa? Eu queria muito estudar no Instituto
    Federal, mas....não queria fazer o curso técnico.</p>
    <p class="section-2__paragraph">Pode ser que você já tenha observado a matriz curricular do seu curso e se
    assustou comquantidade de disciplinas do primeiro ano!</p>
    </article>
  </div>
</section>

<section class="section-3">
  <div class="container">
    <article class="section-3__article">
      <h1 class="section-3__title">Caaaaaaalma!</h1>
      <p>Tudo que é novo, gera uma certa apreensão, mas logo verá o quanto esta
      “viagem” pelo ensino médio integrado, e por que não dizer aventura...
      será enriquecedora e valiosa. Você sairá com uma bagagem extra e totalmente
      transformado!</p>
    </article>
   
    <div> 
      <img src="../../../assets/imagens/astronaut.png" alt="" class="section-3__img">
    </div>
  </div>
</section>

<section class="section-4">
  <h1 class="section-4__title">Você está no lugar certo! Esta página é destinada aos alunos
    ingressantes, nela você encontrará informações úteis sobre o Instituto e
    sobre o ensino médio integrado.</h1>
</section>

<section class="section-5">
  <div class="container">
    <article class="section-5__article">
      <h1>Falando nisso, você já parou para pensar o porquê de “integrado”? </h1>
      <p>O nome tem tudo a ver com os objetivos do curso, dentre eles, integrar
      saberes de disciplinas de formação geral e técnica, unindo teoria e prática,
      integrando ensino, pesquisa e extensão para oferecer uma formação ampla ecidadã
      ao tempo em que prepara para o mundo do trabalho.</p>
    </article>
  </div>
</section>

<section class="section-6">
  <div class="container">
    <div class="box">
      <h1>Ao navegar pela página você encontrará depoimentos de alunos, jogos,
      vídeo explicativo, dentre outras coisas.</h1>
      <img src="../../../assets/imagens/cursor.png" alt="">
    </div>
    <div class="box">
      <h1>Esperamos ajudá-los em suas compreensões quanto à formação integrada
      na Educação Profissional e Tecnológica!</h1>
      <img src="../../../assets/imagens/capelo.png" alt="">
    </div>
  </div>
</section>

<section class="section-7">
  <div class="container">
    
    <div class="section-7__box">
      <h1>Foque no seu objetivo e embarque nesta aventura!</h1>
      <div>
      <img src="../../../assets/imagens/rocket.png" alt="" class="section-7__img">
      </div>
    </div>
  </div>
</section>