.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card-image{
    padding: 2em;
    box-sizing: content-box;
    width: 60%;
    height: 180px;
    border-radius: 1em;
    margin: 35px;
    border: 2px solid #63c6ae;
}

.card-content h2{
    text-align: center;
    color: #586165;
}

.photo{
    width: 100px;
    height: 100px;
    border: 2px solid #63c6ae;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.button{
    margin-bottom: em;
    padding: 15px 40px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    transition: background .5s;
}

.button:hover{
   background-color: #929da5;
}

.button-primary{
    background-color: #63c6ae;
    color: white;
}

.button-secundary{
    background-color: #455347;
    color: white;
}