<div style='background-color: turquoise'>
    <h3 style='color: white'>Mito ou verdade? Responda</h3>
</div>
<div class='container'>
    <div class="box">
        <!-- Caixa com a pergunta da rodada-->
        <div *ngIf='displayQuestion' class='my-center'>
          <p style="text-align: justify;">{{questions[round].question}}</p>
          <hr>
          <img src="assets/imagens/true.png" alt='Click para verdaeiro' (click)='verifyResponse(true)' class='my-img'>
          <img src='assets/imagens/remove-icon.png' alt='Click para mito' (click)='verifyResponse(false)' class='my-img'>
        </div>
        <!-- Caixa com o resultado (acertou ou erro) + Justificativa -->
        <div *ngIf="displayResult">
          <p>{{showMensseger()}}</p>
          <button (click)="incrementRound()">OKAY</button>
        </div>
        <!-- Fim de jogo e resultados gerais (aproveitamento) etc -->
        <div *ngIf='finishGame' class="emi-distance emi-font col">
            <h4>Fim de jogo!</h4>
            <ol>
              <li>Número de acertos: {{ score }}</li>
              <li>Desempenho: {{ perfomance | number: '2.1-1' }}%</li>
            </ol>
            <hr class="my-4">
            <button class='emi-btn' [routerLink]="['/games/quiz']">Cancelar</button>
            <button class='emi-btn' (click)='restart()'>Próxima rodada</button>
        </div>
    </div>
</div>