<div>
  <h1>Mito ou verdade? Responda</h1>
</div>
<div>
  <div>
    <!-- Caixa com a pergunta da rodada-->
    <div *ngIf='displayQuestion'>
      <p>{{questions[round].question}}</p>
      <div class="button-container">
        <div class="true-button" (click)='verifyResponse(true)'>
          <div class="row">
            <h1>
              Verdade
            </h1>
          </div>
        </div>
        <div class="false-button" (click)='verifyResponse(false)'>
          <div class="row">
            <h1>
              Mito
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Caixa com o resultado (acertou ou erro) + Justificativa -->
    <div *ngIf="displayResult">
      <p>{{showMensseger()}}</p>
      <div (click)="incrementRound()" class="next-button">Próximo</div>
    </div>
    <!-- Fim de jogo e resultados gerais (aproveitamento) etc -->
    <div *ngIf='finishGame'>
      <h1>Fim de jogo!</h1>
      <div class="next-button">
        <h1 class="text-center">Número de acertos: {{ score }}</h1>
        <h1 class="text-center">Desempenho: {{ perfomance | number: '2.1-1' }}%</h1>
      </div>
      <div class="next-button">
        <button [routerLink]="['/games/quiz']">Cancelar</button>
        <button (click)='auxInitOrStart()'>Próxima rodada</button>
      </div>
    </div>
  </div>
</div>