<div class="container mt-5 mb-3">
    <div class='box' style='margin-bottom: 28px; margin-top: 20px;'>
        <div class='my-border'>
            <h3 class='my-barra'>O que é o EMI?</h3>
            <p>
                Esta página é resultante de uma pesquisa intitulada : “CONHECER PARA COMPREENDER: PROPOSTA DE UM APLICATIVO EDUCACIONAL INFORMATIVO INTERATIVO SOBRE A TRÍADE ENSINO, PESQUISA E EXTENSÃO PARA ESTUDANTES INGRESSANTES DO ENSINO MÉDIO INTEGRADO”. A mesma
                trata-se do produto educacional exigido para conclusão do curso de Mestrado em Educação Profissional e Tecnológica – ProfEPT realizado no IFRN-Campus Mossoró e elaborada por <strong>Joseane Duarte Santos</strong>, técnica
                em Assuntos educacionais do IFPI, campus Floriano e <strong>Fábio Alexandre Araújo dos Santos</strong>, professor do IFRN, campus Natal Zona Norte.
            </p>
            <p>
                Teve como desenvolvedores os alunos estagiários <strong>Romário Coelho Oliveira</strong>,
                <strong>José Roberto Júnior</strong> e <strong>Felipe Almeida</strong> (colaborador). Estudantes do curso de Análise e desenvolvimento de Sistemas do IFPI, campus Floriano.
            </p>
            <p>
                Trata-se de uma página web <strong><a href='https://pt.wikipedia.org/wiki/Responsividade'>responsiva</a></strong> e que adota a tecnologia <strong><a href='https://developers.google.com/web/progressive-web-apps/'>PWA(Progressive Web Apps)</a></strong>.
                Portanto, essa aplicação se adapta muito bem as diferentes dimensões de dispositivos. Outro ponto importante, é que a mesma transmite para usuários de celulares a impressão de estarem utilizando um aplicativo. Para seu desenvolvimento
                optou-se por utilizar o framework <strong><a href='https://angular.io/'>Angular</a></strong>, que emprega as seguintes tecnologias:
            </p>
            <ul>
                <li><strong><a href='https://www.typescriptlang.org/'>TypeScript</a></strong>: um superset da linguagem JavaScript. Utilizado para cuidar da lógica da aplicação.</li>
                <li><strong><a href='https://www.w3c.br/Home/WebHome'>HTML5</a></strong>: Utilizado para definir a estrutura da página.</li>
                <li><strong><a href='https://www.w3schools.com/css/default.asp'>CSS3</a></strong>: Responsável pela estilização da aplicação.</li>
                <li><strong><a href='https://nodejs.org/en/'>NodeJs</a></strong>: O Angular roda em cima dessa plataforma.</li>
            </ul>

            <h5>Links úteis:</h5>
            <ul>
                <li><a href="http://libra.ifpi.edu.br/acesso-a-informacao/perguntas-frequentes" target="_blank">http://libra.ifpi.edu.br/acesso-a-informacao/perguntas-frequentes</a></li>
                <li><a href="http://portal.mec.gov.br/catalogos-nacionais-de-cursos" target="_blank">http://portal.mec.gov.br/catalogos-nacionais-de-cursos</a></li>
                <li><a href="http://libra.ifpi.edu.br/" target="_blank">http://libra.ifpi.edu.br/</a></li>
                <li><a href="http://portal.mec.gov.br/rede-federal-inicial/instituicoes" target="_blank">http://portal.mec.gov.br/rede-federal-inicial/instituicoes</a></li>
            </ul>
        </div>

    </div>
</div>