<div class='container'>
  <div class="box">
    <h2 class='my-barra'>Para refletir...</h2>
    <div class='my-border'>
      <img src="../../../assets/imagens/intro.png" alt="" class="intro__img">
        <p>Porque você escolheu estudar no Instituto Federal?</p>
        <p>Por que escolheu realizar o curso técnico Integrado ao Ensino Médio?</p>
        <h4><strong>Não sei quais suas respostas, mas vou arriscar alguns palpites:</strong></h4>
        <ul>
          <li>Seria pelo “status” de estudar em uma escola federal?</li>
          <li>Seria porque o Instituto oferece o curso técnico Integrado ao Ensino  Médio e você 
            sempre quis fazer o Ensino Médio na forma integrada?</li>
          <li>Ou será que você optou pela Instituição e não pelo curso Integrado?</li>
        </ul>
        <p><strong>Independente dos seus motivos você já é uma pessoa privilegiada por fazer parte desta Instituição! 
          Sua experiência com curso técnico integrado ao médio trará para você uma nova visão de mundo.</strong>
        </p>
        <p>Ao concluir o curso você estará bem preparado, sejam quais forem suas escolhas posteriores. 
          Isso porque o Instituto Federal tem o compromisso de oferecer uma educação profissional humanizadora,  
          cidadã,  uma formação para a vida e isto inclui a preparação adequada para o trabalho. 
        </p>
    </div>
    <h2 class='my-barra'>Surgimento dos Institutos Federais</h2>
    <div class='my-border'>
        <p><strong>Os Institutos Federais nem sempre foram assim denominados.</strong><br>
            1909 é considerado o marco da  Educação Profissional com a criação de escolas de Aprendizes e Artífices, 
            pelo presidente Nilo Peçanha. Estas escolas passaram por diferentes transformações e denominações: Liceus 
            Profissionais, Escolas Industrial e Técnica, Escola Técnica Federal, Centro Federal de Educação Tecnológica 
            – CEFET. Apenas em 2008 , através da lei 11.892/2008 foram criados os Institutos Federais de Educação Ciência e Tecnológia. 
          </p>
    </div>
    <h2 class='my-barra'>Atualidade</h2>
    <div class='my-border'>
        <p>
            Atualmente existem 38 institutos espalhados por todo o Brasil.
            O Instituto Federal do Piauí- IFPI possui um total de 20 campus. 
            O campus Floriano completará  25 anos de existência em agosto de 2019. Neste são oferecidos cursos técnicos 
            integrados ao Ensino Médio, cursos técnicos concomitantes e subsequentes, cursos superiores de licenciatura e cursos de pós-graduação.
        </p>
        <p>
            No ato da inscrição no classificatório, você poderá optar por um dos quatro cursos integrados: Edificações, 
            Eletromecânica, Informática e Meio Ambiente. Os Institutos Federais de Educação, Ciência e Tecnologia são 
            instituições de educação superior, básica e profissional especializados na oferta de educação profissional 
            e tecnológica nas diferentes modalidades de ensino. Estas instituições tem o compromisso com o desenvolvimento 
            pleno do estudante, que significa, além da preparação técnica e intelectual, o desenvolvimento do espírito 
            crítico científico, a formação de valores e a responsabilidade com a transformação social. 
        </p>
    </div>
    <h2 class='my-barra'>Tudo isto pautado na tríade: ensino, pesquisa e extensão.</h2>
    <div class='my-border'>
        <p><strong>Mas o que significa tríade?</strong></p>
        <img src="../../../assets/imagens/section2.png" alt="" class="intro__img">
        <p>
            Utilizamos o nome tríade  para representar na formação integrada um conjunto de três eixos, o ensino, a pesquisa e a extensão. 
            Juntos eles formam um base indissociável, cada eixo tem uma função, no entanto um precisa do outro para completar seu sentido 
            e juntos atingem um objetivo comum. <strong>Assim, podemos compará-la  a um “tripé”.</strong>
        </p>
        <p>A tríade é um dos agentes responsáveis pela consolidação da formação integrada, ampla e cidadã.</p>
          <ul>
            <li>
                Ensino -  ocorre geralmente em sala de aula através da transmissão de conteúdos
            </li>
            <li>
                Pesquisa- é o aprofundamento do conteúdo já repassado em sala de aula, visando a produção de novos conhecimentos.
            </li>
            <li>
                Extensão – é aplicação das fases do ensino e da pesquisa através de ações (projetos) desenvolvidos pelos estudantes 
                e docentes e aplicado em benefício da sociedade  para auxiliar na resolução de problemas. Os projetos de extensão 
                contribuem para a formação de estudantes integrados com as demandas da sociedade, contribuindo para o desenvolvimento 
                de profissionais-cidadãos.
            </li>
          </ul>
          <p>Agora você faz parte deste universo!</p>
          <p>Esforço e determinação serão fundamentais para seu êxito!</p>
    </div>
  </div>
</div>
