<div class="mt-3 mb-2 p-5">
    <div class='my-barra' style='margin-bottom: 10px;'>
        <h1><strong>Primeiro dia de aula</strong></h1>
    </div>

    <div class='space'>
        <h4><strong class='text-center'>Primeiro dia de aula no Ensino Médio Integrado</strong></h4>
        <p>
            <strong>Paulo</strong> - Aluno novato ingressante no primeiro ano do curso técnico em Meio Ambiente Integrado ao Ensino Médio do Instituto Federal. Ele estava ansioso para início das aulas. Estudar no instituto federal era um sonho! Mas, agora
            está inseguro e preocupado com o Curso Técnico Integrado.
        </p>

        <p>
            <strong>Marta</strong> - Aluna veterana, faz o terceiro ano do curso técnico em Meio Ambiente Integrado ao Ensino Médio. Marta também se sentia insegura nos primeiros dias de aula e, assim como Paulo, também tinha pouco conhecimento sobre
            o curso técnico integrado ao ensino médio, mas em pouco tempo encantou-se pelo curso. Ela já participou de projetos de pesquisa e extensão, já realizou cursos, viagens técnicas, participou de semanas de ciências e tecnologia e apresentou trabalhos
            em eventos científicos.
        </p>

        <h2>Contexto -</h2>

        <p>
            Paulo chegou bem cedo no IFPI, campus Floriano para seu primeiro dia de aula no ensino médio integrado e está nos corredores do campus, “perdido”, sem encontrar sua sala, já andou muito, mas a escola é muito grande! Até que encontra Marta, que o cumprimenta
            e oferece ajuda.
        </p>
    </div>

    <h4><strong>Vejam como foi o diálogo entre Paulo e Marta!</strong></h4>
    <span>Ilustrações: Magdiel Torres Mangueira <a href="https://www.instagram.com/draw_marshmalow/" target="_blank">@draw_marshmalow</a></span>

    <div class="container">
        <iframe src="https://www.youtube.com/embed/NX_vfti8Ol0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>