h2 {
    font-size: 22px;
    color: #555555;
}

.space {
    margin: 5px;
    border-style: solid;
    border-color: #63c6ae;
    padding: 5px;
}

iframe {
    width: 100%;
    height: 80vh;
    min-height: 400px;
}